.todoApp{
  max-width: 550px;
  margin: 0 auto;
}

.header > h1{
  font-size: 100px;
  text-align: center;
}

.newTodo{
  height: 50px;
  font-size: 24px;
  padding: 16px 16px 16px 60px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  font-style:italic;
}

.main{
  position: relative;
}

.main > span > label{
  top: -44px;
  transform: rotate(90deg);
  position: absolute;
}

.main > span > label:before{
  content: 'â¯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 20px;
}

.main > span > input{
    width: 1px;
    height: 1px;
    border: none;
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.view{
  position: relative;
  background-color: #ffffff;
  height: 50px;
}

.toggle{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 1000;
}

.todoList{
  list-style: none;
  margin: 0;
  padding: 0;
}

.todoList li{
  font-size: 24px;
  background-color: #ebebeb;
  height: 50px;
  color: #626262;
  line-height: 50px;
  border: 1px solid #d7d7d7;
}

.todoList li .toggle:checked + label{
  padding-left: 60px;
  background-repeat: no-repeat;
  background-image: url(../img/check.svg)
}

.todoList li .toggle + label{
  background-image: url(../img/unCheck.svg);
  padding-left: 60px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: left;
}

.destroy{
  background-image: url(../img/cross.png);
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 20px;
  display: none;
  background-size: cover;
  margin-top: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
}

.todoList li:hover .destroy {
  display: block;
}

.footer{
  display: flex;
  justify-content: space-between;
  color: #a5a5a5;
  align-items:center;
  color: #777;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: #fff;
  height: 45px;
}

.filters{
  list-style: none;
  display: flex;
  margin: 0;
}

.filters li{
  display: inline;
}

.filters li a{
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a.selected {
  border-color: #572b09;
}

.filters li a.selected:hover {
  border-color: #572b09;
}

.filters li a:hover {
  border-color: #ffd5b6;
}


.clearCompleted{
  border: 0;
  outline: 0;
  font-size: 15px;
  color: #a5a5a5;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0)
}

::placeholder {
  color: #eeca86;
}
